<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{'home.scheduleApp' | translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts" routerLinkActive="is-active">{{'home.myContacts' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointments"
            routerLinkActive="is-active">{{'home.myAppointments' | translate}}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">{{'languages.language' | translate}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="changeLanguage('en')"><img src="./../../../assets/img/en.png"> {{'languages.en' | translate}}</a>
            <a class="dropdown-item" (click)="changeLanguage('es')"><img src="./../../../assets/img/es.png"> {{'languages.es' | translate}}</a>
            <a class="dropdown-item" (click)="changeLanguage('de')"><img src="./../../../assets/img/de.png"> {{'languages.de' | translate}}</a>
            <a class="dropdown-item" (click)="changeLanguage('fr')"><img src="./../../../assets/img/fr.png"> {{'languages.fr' | translate}}</a>
            <div class="attributtion">Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
          </div>
        </li>
        <li class="nav-item logOutLink">
          <a class="nav-link" (click)="logOut()">{{'home.closeSession' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-toast-global aria-live="polite" aria-atomic="true"></app-toast-global>
<app-root></app-root>