<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">{{'home.scheduleApp' | translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/contacts">{{'home.myContacts' | translate}}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/appointments">{{'home.myAppointments' | translate}}</a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav mr-2">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
            {{'languages.language' | translate}}
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a ngbDropdownItem (click)="changeLanguage('en')">{{'languages.en' | translate}}</a>
          <a ngbDropdownItem (click)="changeLanguage('es')">{{'languages.es' | translate}}</a>
          <a ngbDropdownItem (click)="changeLanguage('de')">{{'languages.de' | translate}}</a>
          <a ngbDropdownItem (click)="changeLanguage('fr')">{{'languages.fr' | translate}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <app-root></app-root>