<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
        <h1 class="card-title">{{'register.register' | translate}}</h1>
          <form #form="ngForm" (submit) = submit() [appMustMatch] = "['password','password2']">
            <div class="form-group">
              <label for="name">{{'register.name' | translate}}:</label>
              <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name" #ngName="ngModel" required>
              <div *ngIf="ngName.invalid && (ngName.dirty || ngName.touched)">
                <div *ngIf="ngName.errors.required">
                  <small class="form-text text-danger">{{'fieldsMsg.nameRequired' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="firstSurname">{{'register.firstSurname' | translate}}:</label>
              <input type="text" class="form-control" name="firstSurname" [(ngModel)]="firstSurname" id="firstSurname" #ngFirstSurname="ngModel" required>
              <div *ngIf="ngFirstSurname.invalid && (ngFirstSurname.dirty || ngFirstSurname.touched)">
                <div *ngIf="ngFirstSurname.errors.required">
                  <small class="form-text text-danger">{{'fieldsMsg.firstSurnameRequired' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="secondSurname">{{'register.secondSurname' | translate}}:</label>
              <input type="text" class="form-control" name="secondSurname" [(ngModel)]="secondSurname" id="secondSurname" #ngSecondSurname="ngModel" required>
              <div *ngIf="ngSecondSurname.invalid && (ngSecondSurname.dirty || ngSecondSurname.touched)">
                <div *ngIf="ngSecondSurname.errors.required">
                  <small class="form-text text-danger">{{'fieldsMsg.secondSurnameRequired' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">{{'register.email' | translate}}:</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email" id="email" #ngEmail="ngModel" required email>
              <div *ngIf="ngEmail.invalid && (ngEmail.dirty || ngEmail.touched)">
                <div *ngIf="ngEmail.errors.required">
                  <small class="form-text text-danger">{{'fieldsMsg.emailRequired' | translate}}</small>
                </div>
                <div *ngIf="ngEmail.invalid && ngEmail.value!==''">
                  <small class="form-text text-danger">{{'fieldsMsg.emailWrong' | translate}}</small>
                </div>
                Value:{{ngEmail.value}}
              </div>
            </div>
            <div class="form-group">
              <label for="password">{{'register.password' | translate}}:</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password" #ngPassword="ngModel" id="password" required>
              <div *ngIf="ngPassword.invalid && (ngPassword.dirty || ngPassword.touched)">
                <div *ngIf="ngPassword.errors.required">
                  <small class="form-text text-danger"> {{'fieldsMsg.passwordRequired' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password2">{{'register.verifyPassword' | translate}}:</label>
              <input type="password" class="form-control" name="password2" [(ngModel)]="password2" #ngRePassword="ngModel" id="password2" required validateEqual="ngPassword">
              <div *ngIf="ngRePassword.invalid && (ngRePassword.dirty || ngRePassword.touched)">
                <div *ngIf="ngRePassword.errors.required">
                  <small class="form-text text-danger"> {{'fieldsMsg.rePasswordRequired' | translate}}</small>
                </div>
                <div *ngIf="ngRePassword.errors.mustMatch">
                  <small class="form-text text-danger"> {{'fieldsMsg.rePasswordWrong' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-group">
            <button class="btn btn-primary float-right" type="submit" [disabled]="!form.valid">{{'register.register' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>